<a href="https://colab.research.google.com/github/Isum1012/DSPL-Individual/blob/main/Individual_cw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import neccesary libraries
import pandas as pd

In [ ]:
# Read csv file
df = pd.read_csv("/content/drive/MyDrive/Data Science/trade_lka.csv")

In [ ]:
# Remove the first row (which contains metadata, not actual data)
df = df.iloc[1:].reset_index(drop=True)

In [ ]:
# Convert 'Year' to integer and 'Value' to float
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

In [ ]:
# Check and drop rows with missing values
df = df.dropna(subset=['Year', 'Value'])

In [ ]:
# Reset index again after cleaning
df = df.reset_index(drop=True)

# Display cleaned data info
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5643 entries, 0 to 5642
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    5643 non-null   object
 1   Country ISO3    5643 non-null   object
 2   Year            5643 non-null   int64
 3   Indicator Name  5643 non-null   object
 4   Indicator Code  5643 non-null   object
 5   Value           5643 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 264.6+ KB
None
  Country Name Country ISO3  Year                Indicator Name  \
0    Sri Lanka          LKA  2023  Trade in services (% of GDP)
1    Sri Lanka          LKA  2022  Trade in services (% of GDP)
2    Sri Lanka          LKA  2021  Trade in services (% of GDP)
3    Sri Lanka          LKA  2020  Trade in services (% of GDP)
4    Sri Lanka          LKA  2019  Trade in services (% of GDP)

      Indicator Code      Value
0  BG.GSR.NFSV.GD.ZS   8.805571
1  BG.GSR.NFSV.GD.ZS   5.415105
2  BG.GSR.NFSV.GD.ZS   3.795955
3  BG.GSR.NFSV.GD.ZS   6.229021
4  BG.GSR.NFSV.GD.ZS  13.592342

In [ ]:
# Save the cleaned data to a new CSV file
df.to_csv("cleaned_dataset.csv", index=False)